<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/all.min.css">
    <script crossorigin src="./js/react.production.min.js"></script>
    <script crossorigin src="./js/react-dom.production.min.js"></script>
    <script src="./js/browser.min.js"></script>
    <link rel="icon" href="./img/logo.png">
    <link rel="stylesheet" href="./css/style.css"> <!-- Chỉnh css -->
    <title>Home Page</title>
</head>

<body>
    <!-- Dùng div này để chỉ chổ render code từ ReactJs -->
    <div id="root"></div>
    <script type="text/babel" src="./js/main.js"></script> <!-- Viết xử lý theme bằng js -->
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
</body>

</html>