*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea,
select {
    outline: none;
    font-size: 12px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
}

input {
    line-height: normal;
}

button {
    cursor: pointer;
}

body {
    padding: 20px;
}


/*login*/

.head {
    padding: 20px;
    text-align: center;
    color: red;
}

.form-input {
    margin-top: 2px;
    border: 1px solid #eee;
    border-radius: 4px;
    width: 100%;
    height: 50px;
    padding: 0 20px;
    transition: 0.25s ease;
}

.form-input:focus {
    border-color: #6a5af9;
}

.form-field {
    position: relative;
}

.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    color: #999;
    pointer-events: none;
    transition: 0.25s ease;
}

.form-input:not(:placeholder-shown)+.form-label,
.form-input:focus+.form-label {
    top: 0;
    left: 11px;
    padding: 0 10px;
    display: inline-block;
    background-color: white;
    color: #6a5af9;
}

.form-input[type=button] {
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    color: #fff;
    background-color: #157347;
    font-weight: bold;
}

.note {
    text-align: center;
    color: darkgrey;
}


/*addsv */

.form-addsv {
    margin-top: 10%;
}

.form-addsv label {
    width: 15%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}

.form-addsv input[type=text],
input[type=mail] {
    width: 65%;
    float: left;
    margin: 1%;
}

.form-addsv .btn-success {
    width: 50%;
    float: left;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    border-color: blue;
}

.table-hover {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.table-hover th,
td {
    width: auto;
    text-align: center;
}

.form-addsv input[type=radio] {
    margin-top: 5%;
    width: 16%;
    margin-bottom: 5%;
}

.form-addsv span {
    color: red;
    width: 15%;
    float: left;
    margin-top: 4%;
}


/**/